*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Roboto Flex", sans-serif;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Adamina", serif;
}

.header {
  text-align: center;
  background-color: rgb(255, 235, 205);
  padding: 48px;
}

.main {
  max-width: 800px;
  margin: 0 auto;
  padding: 24px 16px;
}

article {
  padding-left: 16px;
  padding-right: 16px;
}

article + article {
  margin: 40px 0px;
  padding-top: 16px;
  border-top: 2px solid grey;
}

nav a {
  padding: 4px 16px;
  color: rgb(85, 58, 30);
}

nav a:hover {
  color: rgb(255, 132, 0);
  background-color: wheat;
  border-radius: 2em;
}

nav a:active {
  color: dodgerblue;
  border: 2px solid rgb(255, 132, 0);
  border-radius: 2em;
}

#profession::after {
  content: " 💻";
}

::selection {
  background-color: rgb(255, 132, 0);
  color: black;
}

.experience-heading,
.experience-subheading {
  display: inline-block;
  margin: 0;
}

.article-heading {
  position: relative;
  left: -16px;
}
