*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Roboto Flex", sans-serif;
  font-size: 16px;
  --main-color: rgb(255, 235, 205);
  --main-variant: rgb(245, 222, 179);
  --signal-color: rgb(255, 132, 0);
  --active-color: dodgerblue;
  --text-selection: black;
  --link-color: rgb(85, 58, 30);
  --border-color: grey;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Adamina", serif;
}

.header {
  text-align: center;
  background-color: var(--main-color);
  background-image: linear-gradient(
    0deg,
    var(--main-color),
    var(--main-variant)
  );
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  max-width: 75ch;
  margin: 0 auto;
  padding: 1.5rem 1rem;
}

article {
  padding-left: 1rem;
  padding-right: 1rem;
}

article + article {
  margin: 2.5rem 0;
  padding-top: 1rem;
  border-top: 0.125rem solid var(--border-color);
}

nav a {
  padding: 0.25rem 1rem;
  color: var(--link-color);
}

.navigation {
  display: flex;
  flex-direction: column;
}

nav a:hover {
  color: var(--signal-color);
  background-color: var(--main-variant);
  border-radius: 1rem;
}

nav a:active {
  color: var(--active-color);
  border: 0.125rem solid var(--signal-color);
  border-radius: 1rem;
}

.profession::after {
  content: " 💻";
}

::selection {
  background-color: var(--signal-color);
  color: var(--text-selection);
}

.experience-heading,
.experience-subheading {
  margin: 0;
}

.experience-header {
  display: flex;
  flex-direction: column;
}

.article-heading {
  position: relative;
  left: -1rem;
}

.badge {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  background-color: var(--signal-color);
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
}

.badge:hover {
  transition: 0.7s ease-in-out;
  transform: rotate(360deg);
}

.heading-group {
  font-size: 4rem;
}

.main-heading {
  font-size: 1em;
}

.profession {
  font-size: 0.375em;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
  article + article {
    margin-top: 4rem;
    padding-top: 2rem;
  }
  .navigation {
    flex-direction: row;
  }
  .experience-header {
    flex-direction: row;
    justify-content: space-between;
  }
  .experience-heading {
    flex-basis: 80%;
  }

  .experience-subheading {
    align-self: center;
    flex-basis: 20%;
  }
}

.footer {
  text-align: center;
  background-color: var(--main-color);
  padding: 0.5rem;
}

@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
  .badge {
    position: fixed;
  }
}

@media print {
  .badge {
    display: none;
  }
  nav a {
    display: none;
  }
  abbr[title] {
    text-decoration: none;
  }
}
